# vim swp files
*~
*.swp
*.swo

# erlang
*.beam
*.dump

# app output
*.out

# haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

*.pdf

# coq
*.glob
*.vo
